<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>faces/views/carouselView.xhtml</welcome-file>
    </welcome-file-list>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/faces/logonWindow.xhtml</form-login-page>
            <form-error-page>/faces/logonError.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>TylkoDlaManager</web-resource-name>
            <url-pattern>/faces/views/*</url-pattern>
            <url-pattern>/views/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>manager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>TylkoDlaStudents</web-resource-name>
            <url-pattern>/faces/views/*</url-pattern>
            <url-pattern>/views/*</url-pattern>
            <url-pattern>/faces/views/students/*</url-pattern>
            <url-pattern>/views/students/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>students</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
